page-intermediate {
	.toggle-icon {
		background-color: #33cd5f !important;
	}
	.toggle-icon::before {
		background-color: #33cd5f !important;	
	}

	.vCenter {
		margin: auto;
	}
	.b {
		font-weight: bold;
	}
	.toggle-md .toggle-icon {
		height: 25px;
		width: 39px;
	}
	.toggle-md .toggle-inner {
		top: 2px;
		left: 1px;
	}
	.toggle-md .toggle-checked .toggle-inner{background-color:#fff!important}
}
