<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
	<p class="cursiveFont brandName" >chemLab</p>
	
	<div *ngFor="let d of levels; let i = index; " class="posRel btn_{{ ( i + 1 ) }}">
		<button class="customBtn"  ion-button block icon-right (click)="moveToPage( d.name, d.isActive )" >
			{{ d.dispName }}
		</button>	
		<ion-icon name="ionic" *ngIf=" i == 0 " ></ion-icon>
		<ion-icon name="flask" *ngIf=" i == 1 " ></ion-icon>
		<ion-icon name="magnet" *ngIf=" i == 2 " ></ion-icon>
		<ion-icon name="nuclear" *ngIf=" i == 3 " ></ion-icon>
	</div>

	<ion-row class="bottomRow">
		<ion-col width-10></ion-col>
		<ion-col width-80>
			<button class="knowUs" ion-button color="secondary" outline round (click)="moveToPage( 'KnowUsPage', true )">Know Us</button>
		</ion-col>
		<ion-col width-10>
			
		</ion-col>
	</ion-row>
</ion-content>
