page-home {
	.brandName {
		font-size: 4.5em; 
		text-align: center;
	}

	.button-inner {
		justify-content: flex-start;
	}
	ion-icon {
		margin-left: 15em;
		margin-top: -2em;
	    float: right;
	    position: absolute;
	    font-size: 1.4em;
	}
	.customBtn {
		height: 4em;
	}
}
.cursiveFont {
	font-family: 'Caveat Brush', cursive;
}