<!--
Generated template for the ElementsDetails page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>{{ element.name }}</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	
	<!-- Top card -->
	<ion-card>

		<ion-card-content>
			<!-- Add card content here! -->
			<ion-row>
				<ion-col width-25>
					<!--<ion-item class="item-thumbnail-left"  id="hydrogen-list-item13"></ion-item>-->
                    <div class="item-thumbnail-left" [ngStyle]="{ 'background': 'url(' +  element.img_src + ')', 'background-size': '100%' }"></div>
				</ion-col>
				<ion-col width-75>
                    <div class="nameHolder">
                        <div class="blockElm">{{ element.name }}</div>
                        <div class="blockElm textRight">{{ element.symbol }}</div>
                    </div>
                    
					
					<!--<p style="white-space:normal;">This is the description of the Hydrogen Elements. Hwo discovered. How the named formed Hydrogen etc etc...</p>-->
                    <p style="white-space:normal;">{{ element.desc }}</p>

				</ion-col>
			</ion-row>

		</ion-card-content>

	</ion-card>

	<!-- spacer -->
	<ion-row class="spacer-25"></ion-row>

	<!-- History card -->
	<ion-card>
		<ion-card-header>
			History
		</ion-card-header>

		<ion-card-content>
			<!-- Add card content here! -->
			<!--Hydrogen was discovered by **Henry Cavendish** around **1766**. The name is derived from the Greek 'hydro' and 'genes' meaning water forming.--> 
            {{ element.name }} was discovered by {{ element.discovered_by }} around {{ element.discovery_date }}. {{ element.origin_of_name }}
            

		</ion-card-content>
	</ion-card>

	<!-- Properties card -->
	<ion-card>

		<ion-card-header>
			Properties
			<ion-icon name="information-circle" (click)="showHelp( 'properties' )" ></ion-icon>
		</ion-card-header>

		<ion-card-content>
			<ion-list>
				
				<ion-item >
					<div class="blockElm">
						Group
					</div>
					<div class="blockElm textRight">{{ element.group }}</div>
				</ion-item>

				<ion-item >
					<div class="blockElm">
						Period
					</div>
					<div class="blockElm textRight">{{ element.period }}</div>
				</ion-item>

				<ion-item >
					<div class="blockElm">
						Block
					</div>
					<div class="blockElm textRight">{{ element.block }}</div>
				</ion-item>

				<ion-item >
					<div class="blockElm">
						Type
					</div>
					<div class="blockElm textRight">{{ element.type }}</div>
				</ion-item>

				<ion-item >
					<div class="blockElm">
						Color
					</div>
					<div class="blockElm textRight">{{ element.elementColor }}</div>
				</ion-item>

				<!--<ion-item >
					<div class="blockElm">
						Allotropes
					</div>
					<div class="blockElm textRight">1</div>
				</ion-item>-->

				<ion-item >
					<div class="blockElm">
						State at 20&deg;
					</div>
					<div class="blockElm textRight">{{ element.state_at_20deg }}</div>
				</ion-item>

			</ion-list>
		</ion-card-content>

	</ion-card>


	<!-- Atomic properties -->
	<ion-card>

		<ion-card-header>
			Atomic properties
			<ion-icon name="information-circle" (click)="showHelp( 'atomic_prop' )" ></ion-icon>
		</ion-card-header>

		<ion-card-content>
			<!-- Add card content here! -->
			<ion-list>
				
				<ion-item >
					<div class="blockElm">
						Electron
					</div>
					<div class="blockElm textRight">{{ element.electrons }}</div>
				</ion-item>

				<ion-item >
					<div class="blockElm">
						Proton
					</div>
					<div class="blockElm textRight">{{ element.protons }}</div>
				</ion-item>

				<ion-item >
					<div class="blockElm">
						Neutron
					</div>
					<div class="blockElm textRight">{{ element.neutrons }}</div>
				</ion-item>


				<ion-item >
					<div class="blockElm">
						Atomic mass
					</div>
					<div class="blockElm textRight">{{ element.relative_atomic_mass }}</div>
				</ion-item>

				<ion-item >
					<div class="blockElm">
						Atomic number
					</div>
					<div class="blockElm textRight">{{ element.atomic_number }}</div>
				</ion-item>

				<ion-item >
					<div class="blockElm">
						Electron radius
					</div>
					<div class="blockElm textRight">{{ element.electron_radius }}</div>
				</ion-item>

				<ion-item >
					<div class="blockElm">
						Covalent radius
					</div>
					<div class="blockElm textRight">{{ element.covalent_radius }}</div>
				</ion-item>

				<ion-item >
					<div class="blockElm">
						Electron affinity
					</div>
					<div class="blockElm textRight">{{ element.electron_affinity }}</div>
				</ion-item>

				<ion-item >
					<div class="blockElm">
						Electron negativity
					</div>
					<div class="blockElm textRight">{{ element.electron_negativity }}</div>
				</ion-item>

				<ion-item >
					<div class="blockElm">
						Configuration
					</div>
                    <div class="blockElm textRight" [innerHtml]="element.electron_config"></div>
				</ion-item>

			</ion-list>
		</ion-card-content>

	</ion-card>


	<!-- Other properties -->
	<ion-card>

		<ion-card-header>
			Other properties
			<ion-icon name="information-circle" (click)="showHelp( 'other_prop' )" ></ion-icon>
		</ion-card-header>

		<ion-card-content>
			
			<ion-list>
				
				<ion-item >
					<div class="blockElm">
						Melting point
					</div>
					<div class="blockElm textRight">{{ element.melting_point }}</div>
				</ion-item>


				<ion-item >
					<div class="blockElm">
						Boiling point
					</div>
					<div class="blockElm textRight">{{ element.boiling_point }}</div>
				</ion-item>

				<ion-item >
					<div class="blockElm">
						Density
					</div>
					<div class="blockElm textRight">{{ element.density }}</div>
				</ion-item>

			</ion-list>

		</ion-card-content>

	</ion-card>


	<!-- Isotopes -->
	<ion-card>

		<ion-card-header>
			Key Isotopes
			<ion-icon name="information-circle" (click)="showHelp( 'isotopes' )" ></ion-icon>
		</ion-card-header>

		<ion-card-content>
			
			<!--<ion-item >
				
                <ion-list *ngFor="let iso of element.key_isotopes">
                    <div class="blockElm" [innerHtml]="iso" ></div>
                </ion-list>
                		
			</ion-item>-->

            <div class="isotopeHeader" >
                <div class="isotopes" *ngFor="let iso of element.key_isotopes" [innerHtml]="iso"></div>
            </div>

		</ion-card-content>

	</ion-card>

	<!-- Ionisation energies -->
	<ion-card>

		<ion-card-header>
			Ionisation energies
			<ion-icon name="information-circle" (click)="showHelp( 'ionisation' )" ></ion-icon>
		</ion-card-header>

		<ion-card-content>
			
			<ion-row>
				<ion-col width-50>Energy Level</ion-col>
				<ion-col width-50>Values</ion-col>
			</ion-row>

            <ion-row *ngFor=" let energy of element.ionisation_energies; let i = index; ">
                <ion-col width-50 [innerHtml]="getIonisationText( i )" ></ion-col>
                <ion-col width-50>{{ energy }}</ion-col>
            </ion-row>

		</ion-card-content>

	</ion-card>

	<!-- Oxidation state -->
	<ion-card>

		<ion-card-header>
			Oxidation states and isotopes
			<ion-icon name="information-circle" (click)="showHelp( 'oxidation' )" ></ion-icon>
		</ion-card-header>

		<ion-card-content>
			
			<ion-row>
				
				<ion-col>Isotope</ion-col>
				<ion-col>Atomic mass</ion-col>
				<ion-col>Natural abundance (%)</ion-col>
				<ion-col>Half life</ion-col>
				<ion-col>Mode of decay</ion-col>

			</ion-row>

            <ion-row *ngFor=" let data of element.oxidation_state.isotopes ">
                <ion-col [innerHtml]="data.isotope"></ion-col>
                <ion-col>{{ data.atomic_mass }}</ion-col>
                <ion-col>{{ data.natural_abundance }}</ion-col>
                <ion-col [innerHtml]="data.half_life"></ion-col>
                <ion-col>{{ data.mode_of_decay }}</ion-col>
            </ion-row>

		</ion-card-content>

	</ion-card>

</ion-content>
