page-beginner {
	
	ion-content {
		/*margin-top: 44px;*/
	}
	ion-list {
		/*margin: -1px 0 50px 0 !important;*/
	}
	.elmName {
		display: inline;
		color: #444444;
	}
	.elmSymbol {
		display: inline;
		float: right;
		color: #AAAAAA;
		text-align: left;
    	width: 30px;
	}
	.fixedSearch {
		width: 100%;
		bottom: 0px;
	}
	.searchBox {
		/*margin-top: -44px;*/
	}
}
